@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
	text-align: left;
	width: 100vw;
	height: 10vh;
}

.order-form{
	display: flex;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70vw;
	border: 1px solid black;
	margin-right: auto;
/*	margin-left: auto;	*/
}

legend{
	font-size: 30px;
	margin-top: 5vh;
	border: 1px solid black;
	border-right: none;
	border-left: none;
	width: 10vw;
	text-align: center;
}

label{
	font-size: 20px;
	margin-top: 5vh;
}

.flex{
	display: flex;
	justify-content: space-evenly;
}

.user-info{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.user-info input{
	width: 30%;
	margin: auto;
}
.submit{
	margin: 5vh;
	font-size: 20px;
}

.text-box{
	width: 40vw;
	height: 40vh;
}

.shopping-cart{
	border: 1px solid black;
	width: 30vw;
	margin-left: auto;
	padding: 10px;
}

.shopping-cart li{
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: left;
}

