@charset "UTF-8";
/* CSS Document */

/*Landing Page styling vvvv */

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
}

@font-face{
	font-family: 'header';
	src: url("../../designs/fonts/Boiling-BlackDemo/fonts/BoilingBlackDemo-jEReR.woff")
}

@font-face{
	font-family: 'paragraph';
	src: url("../../designs/fonts/ChampagneLimousinesBold.woff")
}

h1, h2, h3{
	font-family: header;
}

li, p{
	font-family: paragraph;
}

.carousel button{
	border: none;
	background-color: transparent;
}

/* header{
	padding: 10px;
    height: 10vh;
    text-align: left;
	width: 100vw;
} */

li{
	list-style: none;
	color: black;
}

p{
	font-size: 20px;
}

.link{
	color: black;
	text-decoration: none;
	transition-duration: 0.4s;
    cursor: pointer;

}

.link:hover{
	color: #A89EFF;
}

.nav{
	display: flex;
	margin: 0;
	background-color: white;
	z-index: 2;
}

.sticky-top{
	position: sticky;
	top: 0;
}

.li-button{
	transition-duration: 0.4s;	
}

.li-button:hover{
	cursor: pointer;
	color: #A89EFF;
}

.window-height{
	height: 100vh;
    display: relative;
}

.title{
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 10px;
}

.intro{
    background-image: url('../../designs/images/background-photo-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    position: relative;
    z-index: 1;
	text-align: center;
	width: 100vw;
}

.textbox{
    width: 50vw;
    height: 60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textbox h1, h3{
    padding: 5px;
    color: white;
}
.carousel{
    position: fixed;
    z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
    display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #e7cadc;

}

.carousel-img{
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);

}

.next{
	transform: rotate(270deg);
	transition-duration: 0.4s;
}

.next:hover{
	cursor: pointer;
	transform: scale(1.2) rotate(270deg);
}
.prev{
	transform: rotate(90deg);
	transition-duration: 0.4s;
}

.prev:hover{
	cursor: pointer;
	transform: scale(1.2) rotate(90deg);
}

.description{
	text-align: center;
	padding: 5px;
	position: relative;
	z-index: 0;
	background-color: white;
}

footer{
	display: flex;
	background-color: #d1e3ef;
	align-items: center;
	justify-content: center;
	height: 20vh;
	position: relative;
	z-index: 1;
}

.icon{
	color: white;
	padding: 20px;
	font-size: 60px;
	transition-duration: 0.5s;
}

.icon:hover{
	cursor: pointer;
	color: #e7cadc;
}

/*Landing Page styling ^^^^ */

/*Producat Page styling vvvv */


.dropdown{
    position: relative;
	z-index: 1;
	text-align: center;
    background-color: white;
    border: none;
	transition-duration: 0.4s;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
}

.dropdown-menu{
    position: relative;
    z-index: 0;
    text-align: center;
    width: 150px;
    background-color: #FF9EC4;
}

.dropdown-menu li{
    padding: 5px;
    border: 1px solid #faf8f7;
}

.dropdown-menu li:hover{
    background-color: #fdc0d9;
}

.dropdown-button{
    border: none;
    background-color: transparent;
}
.goodies{
    background-color: white;  
    height: 100%;  
}

.selected{
	text-align: center;
	padding: 5px;
}

.grid{
    display: grid;
    text-align: center;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	border: 2px solid #FF9EC4;
	border-radius: 10px;
}

/*Producat Page styling ^^^^ */
/* Order Page*/

.cake{
	background-image: url('../../designs/images/background-cake-form.jpeg');
	background-size: cover;

}

.cake-color{
	background-color: #e3d5fbc2;
}

.cupcakes{
	background-image: url('../../designs/images/background-photo-2.jpg');
	background-size: cover;

}

.cupcakes-color{
	background-color: #d6b8cfbe;
}

.cookies{
	background-color: #FF9EC4;
}

.cookies-color{
	background-color: #d6b8cfbe;
}

.cake, .cupcakes, .cookies{
	background-position: center;
	background-repeat: no-repeat;
}

.order-form{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.quantity{
	align-items: center;
}

.quantity-button{
	background-color: transparent;
	border: none;
	font-size: 30px;
}


.product{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 33vh;
	width: 100vw;
	font-family: header;
	transition-duration: 0.4s;
}

.product:hover{
	cursor: pointer;
	filter: brightness(60%);
}

.order-option{
	margin: auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.623);
}

legend, label{
	font-family: header;
}

legend{
	font-size: 30px;
	margin-top: 5vh;
	padding-top: 5px;
	padding-bottom: 3px;
	border: 1px solid black;
	border-right: none;
	border-left: none;
	text-align: center;
}

label{
	font-size: 20px;
	margin-top: 5vh;
}

.flex{
	display: flex;
	justify-content: space-evenly;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.userForm{
	height: 90vh;
	background-color: #FF9EC4;
	padding: 30px;
}

.user-info-form{
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
	width: 60vw;
}

.user-info-form input{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.submit{
	padding: 10px;
	margin: 2vh;
	font-size: 20px;
	border: none;
	background-color: white;
	transition-duration: 0.4s;
	font-family: header;
}

.submit:hover{
	cursor: pointer;
	background-color: #9EC5FF;
	color: white;
}

.back-link{
	text-decoration: none;
	color: black;
}

.shopping-cart{
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	width: 80vw;
	border: 2px solid white;
	border-radius: 10px;
}

.shopping-cart li{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	width: 50vw;
	margin: auto;
}
.no-items p{
	margin: auto;
}
.items{
	background-color: #fdc0d9;
}
.confirm-submit{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid white;
	border-radius: 10px;
	background-color: rgb(247, 217, 241);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.exit-button{
	align-self: flex-end;
	position: relative;
	z-index: 1;
	font-size: 40px;
	margin: 5px;
	border: none;
	background-color: transparent;
	transition-duration: 0.4s;
}

.confirm-buttons{
	padding: 5px;
	align-self: center;
	margin: 30px;
}

.cart{
	height: 85vh;
	background-color: #FF9EC4;
	padding: 30px;
}
.table-row{
	transition-duration: 0.4s;
}

.table-row:hover{
	cursor: pointer;
	background-color: #fdc0d9;
	color: white;
}

.confirmation{
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	background-color: #FF9EC4;
}

.confirmation h1{
	color: white;
}
.confirmation-text{
	text-align: left;
	border: 1px solid white;
	border-radius: 10px;
	padding: 20px;
}

.confirmation-text p{
	font-size: 25px;
	line-height: 1.6;
}

.login{
	margin: auto;
	border: 2px solid #A89EFF;
	width: 50vw;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	color: black;
	padding: 30px;

}
.orders-nav{
	padding: 30px;
}
.orders-nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	height: 5vh;	
}
.orders-nav button{
	border: 2px solid #A89EFF;
	background-color: white;
	margin: 2px;
	padding: 5px;
	transition-duration: 0.4s;
}
.orders-nav button:hover{
	cursor: pointer;
	background-color: #A89EFF;
	color: white;
}
.orders{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.orders-table{
	border: 2px solid #A89EFF;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	width: 80vw;
	height: 30vh;
	overflow-y: hidden;

}

.order-items{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-row button{
	border: 1px solid #FF9EC4;
	border-radius: 3px;;
	background-color: white;
	transition-duration: 0.4s;
	padding: 5px;
}

.table-row button:hover{
	cursor: pointer;
	background-color: #FF9EC4;
	color: white
}

.order-details{
	border: 1px solid black;
	width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

.error{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #fdc0d9;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
}
@media screen and (max-width: 500px){
	.link{
		font-size: 20px;
	}
	.nav{
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-evenly;
		height: 12vh;
		width: 100vw;

	}
	.mobile-menu-container{		
		width: 20vw;
		height: 10vh;
		align-self: center;		

	}
	.menu-icon{
		position: absolute;
		left: 85%;
		transform: translateX(-15%);
		font-size: 60px;
		z-index: 3;
	}

	.mobile-menu{
		position: relative;
		top: 80px;
		z-index: 1;
		height: 40vh;
		display: flex;
		flex-direction: column;
	}
	.menu-button{
		border: 1px solid white;
		font-size: 25px;
		padding: 5px;
		background-color: white;
	}
	h1{
		font-size: 30px;
	}
	h3{
		font-size: 25px;
	}
	.textbox h1{
		font-size: 60px;
	}
	
	.carousel-img{
		margin: 5px;
		width: 70vw;
		height: 50vh;
	}	
	.description img{
		width: 60vw;
		height: 40vh;
	}
	.grid{
		width: 100vw;
		margin-top: 20px;
	}
	.dropdown{
		width: 20vw;
		height: 5vh;
	}
	.item img{
		height: 20vh;
		width: 33vw;
	}
	.next, .prev{
		width: 10vw;
		height: auto;
	}
	.Modal{
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 10vh;
	}
	.Cake{
			background-image: url('../../designs/images/cake-background-option.jpg');
			background-size: cover;
			background-position-y: center;
			background-repeat: no-repeat;
	}
	.Cookies{
		background-image: url("../../designs/images/cookies-pumpkins.jpg");
		background-position: right 50% top 50%;
		background-size: cover;
		background-repeat: no-repeat;

	}
	.Cupcakes{
		background-image: url("../../designs/images/cc-background-option.jpg");
		background-size: cover;
		background-repeat: no-repeat;

	}
	.order-option{
		width: 50vw;
		padding: 10px;
		font-size: 40px;

	}
	.order-form{
		width: 80vw;
	}
	legend{
		width: 40vw;
	}
	.text-box{
		width: 40vw;
		height: 20vh;
	}
	.quantity{
		width: 40vw;
	}
	.confirm-submit{
		width: 80vw;
		height: 20vh;
	
	}	
	
}

@media screen and (min-width: 501px){
	.link{
		font-size: 20px;
		padding: 5px;

	}
	.nav{
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 15vh;
	}
	.nav-menu{
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
		width: 100vw;
	}
	h1{
		font-size: 50px;
	}
	h3{
		font-size: 30px;
	}
	.textbox h1{
		font-size: 70px;
	}	
	.carousel-img{
		margin: 5px;
		width: 40vw;
		height: 60vh;
	}
	.description img{
		width: 25vw;
		height: 40vh;
	}

	.grid{
		width: 70vw;
		padding-top: 20px;
	}
	.item img{
		height: 35vh;
		width: 20vw;
	}
	.Modal{
		height: auto;
		position: absolute;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 15vw;
		margin-top: 20px;
	}
	.dropdown{
		width: 10vw;
		height: 5vh;
	}	
	.dropdown:hover{
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}
	.product{
		height: 33vh;
		width: 100vw;
		font-size: 60px;	
	}
	.Cake{
		background-image: url("../../designs/images/cake-background-option.jpg");
		background-position: right 50% top 45%;
		background-size: cover;
		background-repeat: no-repeat;	
	}
	.Cookies{
		background-image: url("../../designs/images/cookies-pumpkins.jpg");
		background-position: right 50% top 50%;
		background-size: cover;
		background-repeat: no-repeat;
	
	}
	.Cupcakes{
		background-image: url("../../designs/images/cc-background-option.jpg");
		background-position: right 50% top 50%;
		background-size: cover;
		background-repeat: no-repeat;
	
	}
	.order-option{
		width: 30%;
		padding: 10px;	
	}	
	.order-form{
		width: 60vw;
	}
	legend{
		width: 40vw;
	}
	.text-box{
		width: 20vw;
		height: 20vh;
	}
	.quantity{
		width: 15vw;
		align-items: center;
	}
	
	.quantity-button:hover{
		cursor: pointer;
	}
	.exit-button:hover{
		cursor: pointer;
		transform: scale(1.2);
	}
	.confirm-submit{
		width: 50vw;
		height: 20vh;
	}

	
}